body{
    background-color: #14213d;
}
.navbar-brand {
    color: #fca311;
}

.nav-link {
    color: beige;
    margin-right: 50px;
}

.nav-item dropdown{
    color: beige;
}

.nav-link active{
    color: beige;
}

.nav-h5 {
    color: beige;
}

.serviciospopulares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}


  
  .text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  p {
    color: white;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: #14213d;
  }