body{
    background-color: #16183F;
}
.navbar-brand {
    color: beige;
}

.nav-link {
    color: beige;
    margin-right: 50px;
}

.nav-item dropdown{
    color: beige;
}

.nav-link active{
    color: beige;
}

.nav-h5 {
    color: beige;
}